<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CHANGEME</title>
    <link rel="stylesheet" href="/public/stylesheets/normalize.css">
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
    <script src="/public/javascript/main.js" charset="utf-8"></script>
  </head>
  <body>
    <main>
        <form class="userInput" action="/books" method="post">
          <label for="title">Title</label>
          <input type="text" name="title" placeholder="Input Title Here" value="">
          <label for="author">Author</label>
          <input type="text" name="author" placeholder="Author Name" value="">
          <label for="issue">Issue Number</label>
          <input type="number" name="issueNumber" value="">
          <label for=""></label>
          <textarea name="summary" rows="4" cols="80" placeholder="Please provide a brief summary here"></textarea>
          <!--What would go here?  -->
          <button type="submit" name="button">Submit</button>
        </form>
    </main>
  </body>
</html>
