<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Comic Book Archive!</title>
    <link rel="stylesheet" href="/public/stylesheets/normalize.css">
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
    <script src="/public/javascript/main.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>Welcome to Your Comic Book Manager!</h1>
    <h2>What do you want to do?</h2>
    <a href="/form">Create a New Entry</a>
    <a href="/index">View Existing Collection</a>

  </body>
</html>
