<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Comic Book Archive!</title>
    <link rel="stylesheet" href="/public/stylesheets/normalize.css">
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
    <script src="/public/javascript/main.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>Here's Your Collection</h1>
    {{ #bookList }}
    <div class="bookCollection">
      <ul>
        <li>Title: {{ title }}</li>
        <li>Author: {{ author }}</li>
        <li>Summary: {{ summary }}</li>
        <li>Issue Number: {{ issue }}</li>
      </ul>
    <a href="/{{ _id }}/update">Update Entry</a>
    </div>
    {{ /bookList }}

  </body>
</html>
